**/*.o
**/Makefile
!win32/msg/Makefile
atconfig
autom4te.cache
config.h
config.log
config.status
config_p.h
dch-template
ed.defns.h
gethost
nls/*.cat
patchlevel.h
sh.err.h
tc.const.h
tc.defs.c
tcsh
tcsh-*.tar.gz
tcsh-*.tar.gz.asc
tcsh.man
tests/package.m4
tests/testsuite
testsuite.dir/**
testsuite.log
*.suo
*~
