/*$Header: /src/pub/tcsh/win32/WILDCAT.RC,v 1.2 2002/08/11 07:58:12 amold Exp $*/
/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
IDI_ICON1               ICON    DISCARDABLE     "win32/WILDCAT.ICO"

#ifdef LOADABLE_RC
#include "tcshrc.rc"
#endif 
